/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
#sidebar{
  margin: 0;
  height: 100vh;
}

.sidebar {
  top: 0;
  bottom: 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem; /* 15px */
  color: rgba(255,255,255,.6);

  @if $theme-color != $default {
    background-color: $theme-color;
  } @else {
    background-color: darken($theme-color-dark, 10%);
  }
}
@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
  }
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: $white;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item-sub {
  &:before {
    content: "";
    padding-left: 1em;
  }
  font-size: 85%;
  line-height: 85%;
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}

.sidebar-personal-info {
  .sidebar-personal-info-section {
    &:not(:first-of-type) {
      margin-top: .75rem;
    }
    line-height: 1rem;
    a, strong {
      color: $white;
      text-decoration: none;
    }
    a {
      i {
        font-size: 150%;
        padding: 0 .35rem;
      }
    }
  }
}

/* Changing author description keywords on place effect */
.codinfox-changing-keywords {
  width:7em;
  position:relative;
  vertical-align:top;
  display:inline-block;
}
.codinfox-changing-keywords b {
  color:#fff;
  position:absolute;
  left:0;
  top:.3em;
  display:inline-block;
  opacity:0;
  transition:all 0.2s ease-out
}
.codinfox-changing-keywords b.hidden {
  animation:slide-out 0.6s;
  -webkit-animation:slide-out 0.6s
}
.codinfox-changing-keywords b.visible {
  opacity:1;
  top:0;
  animation:slide-in 0.6s;
  -webkit-animation:slide-in 0.6s
}
