{% import "macros/scripts.html" as scripts %}
{% import "macros/macros.html" as macros %}
{% import "macros/head.html" as head %}
{% import "macros/sidebar.html" as sidebar %}

{% set author = load_data(path="author.toml") %}
{% set sidebar_nav = load_data(path="nav.toml") %}

<!DOCTYPE html>
<html lang="en-us">

  <head>
    {{ scripts::analytics_script() }}
    
    {{ head::links() }}
    {{ head::meta() }}

    {% block pagetitle %}
    {{ head::titlesite(page_title = "Home") }}
    {% endblock pagetitle %}

    {{ head::css() }}

    {{ head::icons() }}

    {{ head::rss() }}
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-3 left sidebar" id="sidebar">
          {# sidebar #}
          <div>
            {{ sidebar::personal_info(gravatar = author.gravatar, name = author.name, description = author.description, contacts = author.contact) }}

            {% block navigation_list %}
            {{ sidebar::nav(navlist = sidebar_nav.nav, page_permalink = config.base_url) }}
            {% endblock navigation_list %}

            {{ scripts::changing_words() }}
          </div>
          {# ### #}
        </div>
        <div class="col-9">
          {% block content %}
          <div class="hero">
            <img src="{{ get_url(path=config.extra.image) }}" />
            <p>{{ config.extra.caption | safe }}</p>
          </div>
          {% endblock content %}
        </div>
      </div>
    </div>
  </body>

</html>
