{% extends "page.html" %}

{% block content %}
	      <div class="post">
          <h1 class="post-title">{{ page.title }}</h1>
          <span class="post-date">{{ page.date }}</span>
          {% if page.taxonomies.tags %} |
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
          {% endif %}
          <article>
            {{ page.content | safe }}
          </article>
        </div>

        <div class="related">
          <h2>Other Posts</h2>
          <ul class="related-posts">
            <li class="previous">
            {% if page.higher %}
                <small>Older {</small>
                <a href="{{ page.higher.permalink }}">{{ page.higher.title }}</a>
                <small>}</small>
            {% endif %}
            </li>
            <li class="next">
            {% if page.lower %}
                <small>{</small>
                <a href="{{ page.lower.permalink }}">{{ page.lower.title }}</a>
                 <small>} Newer</small>
            {% endif %}
            </li>
          </ul>
        </div>

        <div class="comments">
          <h2>Comments</h2>
          {% for asset in page.assets %}
          {% if asset is matching("[.](yml)$") %}
          {% set data = load_data(path=asset) %}

          <div id="{{data.id}}" class="alt vcard comment">
            <p class="gravatar">
                <img class="photo" src="{{data.avatar}}" alt="" width="50" height="50">
            </p>
            <div style="float: left;">
                <cite>
                    <span class="fn">{{data.name}}</span>
                </cite>
                says:
                <br>
                <small class="commentmetadata"><a href="#{{data.id}}">
                    {{data.date}}
                </a>                  
                </small>
            </div>
            <div style="clear: both;">
            </div>
            <p>
                {{data.message | safe}}
            </p>
        </div>
          
          
            {% endif %} 
          {% endfor %}
          
        </div>

{% endblock content %}
